<!DOCTYPE html>

<html>
    <head>
       <title>Stonks</title>

       <style>
        table, th, td {
            width: 25%;
            max-width: 250px;

            border-width: 2px;
            border-style: solid;
            border-color: black;
        }
       </style>
    </head>

    <body>
        <table>
            <tr>
                <th>Coin</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>{{bitcoin}}</td>
                <td>{{bitcoin_price}}</td>
            </tr>
        </table>
    </body>
</html>